button.form-button {
  width: 150px;
}

div.single-answer {
  border: 5px solid orange;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
  ;
}

div.delete-answer-button {
  margin-top: 10px;
}
