h1.page-not-found {
  display: flex;
  justify-content: center;
}

#holder {
  min-height: 100%;
  position: relative;
}

div.body-div {
  padding-bottom: 100px;
}

div.footer-div {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
